.container {
  background: var(--white);
  justify-content: center;
  align-items: center;
  color: var(--purple-700);
}

.caseContainer {
  display: flex;
  justify-content: center;

  gap: 2rem;

  padding-bottom: 3rem;

  article {
    width: 440px;
    display: flex;
    flex-direction: column;
    gap: 3rem;

    align-items: center;
    justify-content: space-between;
    padding: 2rem 1rem;

    border-radius: 1rem;
    border: 1px solid var(--gray-100);

    transition: background 0.2s;

    &:hover {
      background: var(--gray-50);
    }

    img {
      width: 16rem;
    }
  }
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  gap: 3.625rem;

  span {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2rem;

    color: var(--gray-900);
  }

  p {
    font-size: 1rem;
    line-height: 1.5rem;

    color: var(--gray-700);
  }
}

.header {
  font-size: 2rem;
  font-weight: 700;
  line-height: 3rem;
  color: var(--purple-700);

  text-align: center;

  padding-bottom: 3rem;
  padding-top: 6.375rem;
}

.case {
  display: flex;
  flex-direction: column;
  gap: 5rem;

  align-items: center;
  justify-content: space-around;
  padding: 2rem 0;
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .caseContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 2rem;

    padding-bottom: 3rem;

    article {
      width: 100%;
      display: flex;
      flex-direction: row;
      gap: 3rem;

      img {
        width: 16rem;
      }
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .caseContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 2rem;

    padding-bottom: 3rem;

    article {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 3rem;

      img {
        width: 16rem;
      }
    }
  }
}
