.technologies {
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 3rem;

  justify-content: space-between;

  padding: 2rem 0;
}

.header {
  font-size: 2rem;
  font-weight: 700;
  line-height: 3rem;
  color: var(--white);
  padding-bottom: 3rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1rem;

  span {
    font-weight: 700;
    font-size: 2rem;
    line-height: 3rem;

    color: #f1f1f1;
  }

  p {
    font-weight: 400;
    font-size: 1rem;
    line-height: 2.5rem;
    color: var(--white);

    display: flex;
    align-items: flex-start;
    gap: 1.5rem;
  }
}

.methods {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  gap: 2rem;
}

.cardFooter {
  width: 100%;
  display: flex;
  align-items: flex-end;

  gap: 2rem;
  padding-top: 2.75rem;
}

.item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--lime-400);

  p {
    color: var(--white);
    font-weight: 600;
    font-size: 1rem;
    line-height: 2.5rem;
  }

  svg {
    height: 1rem;
  }
}

.frameworks {
  width: 42rem;
  height: 27.43rem;

  align-items: center;
  justify-content: center;

  position: relative;

  img {
    max-width: 42rem;
    max-height: 42rem;

    padding: 0 4.875rem;

    position: absolute;
  }

  span {
    color: var(--white);

    position: absolute;

    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5rem;
  }

  &:hover {
    color: var(--lime-400);
    font-weight: 700;
  }

  article {
    position: absolute;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background: white;
    box-shadow: 0px 3px 16px #523680;
    cursor: pointer;
  }

  .card {
    position: absolute;
    visibility: hidden;

    width: 352px;

    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    color: #555;

    background: #fff;
    border-radius: 8px;

    padding: 1rem;
  }
}

.frameworks .next {
  left: 196px;
  top: 16px;

  span {
    left: -66px;
    bottom: -4px;
  }

  .card {
    top: -136px;
    left: -2px;
  }
}

.frameworks .symfony {
  left: 394px;
  top: 16px;

  span {
    right: -82px;
    bottom: -3px;
  }

  .card {
    top: -155px;
    right: -280px;
  }
}

.frameworks .nest {
  left: 70px;
  top: 209px;

  span {
    right: 28px;
    bottom: -3px;
  }

  .card {
    top: -155px;
    left: 3px;
  }
}

.frameworks .javascript {
  left: 510px;
  top: 219px;

  span {
    right: -96px;
    bottom: -3px;
  }

  .card {
    top: -159px;
    right: -4px;
  }
}

.frameworks .flutter {
  left: 201px;
  top: 410px;

  span {
    left: -66px;
    bottom: -3px;
  }

  .card {
    left: -4px;
    bottom: 24px;
  }
}

.frameworks .bootstrap {
  left: 398px;
  top: 405px;

  span {
    right: -106px;
    bottom: -3px;
  }

  .card {
    right: -280px;
    bottom: 20px;
  }
}

.frameworks .next:hover .card,
.frameworks .symfony:hover .card,
.frameworks .nest:hover .card,
.frameworks .javascript:hover .card,
.frameworks .flutter:hover .card,
.frameworks .bootstrap:hover .card {
  visibility: visible;
}

@media screen and (min-width: 1440px) {
  .card {
    max-width: 32.5rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .technologies {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    margin-bottom: 3rem;
  }

  .card {
    width: 100%;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .technologies {
    flex-direction: column;
  }

  .methods {
    flex-direction: column;
  }

  .frameworks {
    display: none;
  }
}
