.header {
  font-size: 2rem;
  font-weight: 700;
  line-height: 3rem;
  color: var(--white);
}

.partners {
  display: grid;
  gap: 4rem;
  grid-template-columns: repeat(4, 1fr);

  justify-content: center;
  align-items: center;

  margin-top: 3rem;

  img {
    max-width: 10.31rem;
    max-height: 5rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .partnerContainer {
    margin: 2rem 0;

    .partners {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .partners {
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;

    img {
      max-width: 9rem;
      max-height: 4rem;
    }
  }
}
