.container {
  background: var(--white);
  justify-content: center;
  align-items: center;
  color: var(--gray-800);

  section {
    padding-top: 3.5rem;

    span {
      font-size: 2rem;
      font-weight: 700;
      line-height: 3rem;
      color: var(--purple-700);

      p {
        color: var(--purple-300);
      }
    }

    .case {
      max-width: 1200;

      display: flex;
    }
  }
}

.testimonials {
  display: flex;
  // gap: 5rem;

  align-items: center;
  // justify-content: center;
  padding: 1rem 0;
  // max-width: 759px;

  article {
    background: var(--gray-50);
    // background: var(--purple-300);
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.08);
    border-radius: 0.5rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    height: 400px;
    width: 620px;

    margin-bottom: 2rem;

    p {
      font-size: 1.5rem;
      line-height: 2rem;

      color: var(--gray-600);
    }

    span {
      font-weight: 700;
      font-size: 1rem;
      line-height: 2rem;

      color: var(--purple-300);

      p {
        font-weight: 400;
        font-size: 1rem;
        line-height: 2rem;
        color: var(--purple-300);
      }
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .testimonials {
    article {
      height: 559px;
    }
  }
}
