* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:focus {
  outline: transparent;
}

:root {
  --white: #ffffff;

  --pink-400: #ff31b9;

  --purple-300: #7537bb;
  --purple-400: #523680;
  --purple-600: #251a40;
  --purple-700: #23183e;
  --purple-800: #190f32;

  --gray-50: #f9f9f9;
  --gray-100: #efefef;
  --gray-600: #333333;
  --gray-700: #555555;
  --gray-800: #777777;
  --gray-900: #1d1d1d;

  --lime-400: #aaf124;

  --green-500: #00875f;
  --red-500: #f75a68;

  // arrow swiper
  --swiper-navigation-color: "#555555";
  --swiper-pagination-color: "#555555";
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

body {
  background: radial-gradient(
    87.54% 253.62% at 9.53% 86.84%,
    #59398a 0%,
    #3f2a61 22.4%,
    #30204c 43.75%,
    #23183e 98.72%
  );
  color: var(--white);
  -webkit-font-smoothing: antialiased;
}

section {
  margin-top: 6.5rem;
  margin-left: 7.5rem;
  margin-right: 7.5rem;
}

body,
input,
textarea,
select,
button {
  font: 400 1rem "Poppins", sans-serif;
}

button {
  cursor: pointer;
  border: none;
}

a {
  color: inherit;
  text-decoration: none;
}

header .responsive_nav {
  transform: none;
}

#testimonial {
  width: 100%;
  padding: 0 4rem;
  margin-bottom: 4.125rem;

  .swiper-slide {
    margin: 0;
    max-width: 660px;

    .swiper-wrapper {
      display: flex;

      gap: 2rem;
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    &.swiper-button-disabled {
      opacity: 0.35;
      cursor: auto;
      pointer-events: none;
    }
  }

  .swiper-pagination-bullet {
    &.swiper-pagination-bullet-active {
      background: #777777;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  header {
    margin: 2rem 2.5rem;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
  section {
    margin-top: 2rem;
    margin-left: 10.5rem;
    margin-right: 10.5rem;
  }

  #testimonial {
    padding: 0;

    .swiper-button-next,
    .swiper-button-prev {
      display: none;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  section {
    margin: 0 2.5rem;
  }

  #testimonial {
    padding: 0;

    .swiper-button-next,
    .swiper-button-prev {
      display: none;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  html {
    font-size: 90%;
  }

  section {
    margin-top: 2rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  header .responsive_nav {
    transform: none;
  }

  #testimonial {
    padding: 0;

    .swiper-slide {
      display: flex;
      flex-direction: column;
    }

    .swiper-button-next,
    .swiper-button-prev {
      display: none;
    }
  }
}
